<?php
define('DB_NAME', 'wordpress');
define('DB_USER', 'wordpressuser');
define('DB_PASSWORD', 'wordpresspassword');
define('DB_HOST', '192.168.113.135');
define('DB_CHARSET', 'utf8mb4');
define('DB_COLLATE', '');
